@tailwind base;
@tailwind components;
@tailwind utilities;


/* scrollbar */

::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
  background-color: #8b8b8b;
}

::-webkit-scrollbar-thumb {
  background-color: #363636;
  border-radius: 8px;
}
